body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h3 {
    font-weight: 600;
    color: navy
}

h2 {
    color: navy
}

.sidenav-trigger {
    color: navy;
    opacity: 0.5
}

.thin-font {
    font-weight: 200;
    line-height: 2
}

.button-subfont {
    color: black
}