html, body {
    height: 100%
}

body {
    background-image: url('geo.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin-bottom: 25px
}

h3 {
    color: rgb(40, 68, 110);
}

.sidenav-trigger {
    color: rgb(0, 172, 156);;
}

.thin-font {
    font-weight: 200;
    line-height: 2
}

.pageHeaderText {
    padding: 10px 50px 50px 50px;
    background-color: white
}

main {
    padding-top: 20px
}

#introductionPhoto, #photoBG {
    background-image: url('hallway.jpg');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

#introductionText {
    padding: 35px;
}

.pageHeaderText {
    background-color: rgb(40, 68, 110);
    color: white
}

.card-title {
    color: rgb(255, 0, 142)
}

#applicationsPage a {
    color: rgb(255, 0, 142)
}

#welcomeSign {
    color: rgb(255, 0, 142)
}

@media only screen and (min-width: 1000px) {
    #introductionText {
        padding: 50px;
    }
}