html, body {
    height: 100%
}

body {
    background-image: url('geo.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

h3 {
    color: rgb(40, 47, 70);
}



.sidenav-trigger {
    color: rgb(40, 47, 70);;
}

.thin-font {
    font-weight: 200;
    line-height: 2
}



.pageHeaderText {
    padding: 10px 50px 50px 50px;
    background-color: white
}

main {
    padding-top: 20px
}

#introductionPhoto {
    height: 100%;
    background-image: url('hallway.jpg');
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

#introductionText {
    height: 100%;
    padding: 50px;
    background-color: white;
    overflow: scroll
}

.pageHeaderText {
    background-color: rgb(40, 47, 70);
    color: white
}
/* Desktop screens */
@media only screen and (min-width: 880px) {
    #introductionPhoto {
        background-size: 50%;
    }
    #introductionText {
        height: 100%;
        overflow: scroll
    }
}

