html, body {
    height: 100%
}

body {
    background-image: url('../siteImages/hallway.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.thin-font {
    font-weight: 200;
    line-height: 1.7
}

.card-title {
    color: rgb(255, 0, 142)
}

#applicationsPage a {
    color: rgb(49, 150, 155)
}

a {
    color: rgb(55, 175, 169);
    cursor: pointer;
}

/* Give space to the Details and View Source links on each card */
p {
    padding-top: 20px
}

/* ################################################################## */

/* Ensure Consistency of App Card Sizes */

@media only screen and (min-width: 600px) and (max-width: 761px) {
    #applicationsPage .inflatable {
        min-height: 360px !important;
    }
}

@media only screen and (min-width: 761px) and (max-width: 820px) {
    #applicationsPage .inflatable {
        min-height: 390px !important;
    }
}

@media only screen and (min-width: 821px) and (max-width: 860px) {
    #applicationsPage .inflatable {
        min-height: 395px !important;
    }
}

@media only screen and (min-width: 861px) and (max-width: 1150px) {
    #applicationsPage .inflatable {
        min-height: 400px !important;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1549px) {
    #applicationsPage .inflatable {
        min-height: 410px !important;
    }
}

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
    #applicationsPage .inflatable {
        min-height: 420px !important;
    }
}

@media only screen and (min-width: 1921px) {
    #applicationsPage .inflatable {
        min-height: 430px !important;
    }
}

/* ################################################################## */

@media only screen and (min-width: 1000px) {
    #introductionText {
        padding: 50px;
    }
}